*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 540px;
    background-color:  #fff;
    border-radius: 10px;
    padding: 20px;
}
.head-container{
    display: flex;
    align-items: center;
}
.title{
    color: #002765;
}
.icon{
    width: 45px;
    margin-left: 15px;
}
.input-container{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.input{
    padding: 10px;
    width: 85%;
    border: 1px solid #002765;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
}
.add{
    width: 15%;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #002765;
    font-size: 15px;
    border-radius: 4px;
    background-color: #FC653B;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #002765;
}
.task-list{
    margin-top: 20px;
}
 ul li{
    margin-top: 15px;
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    font-size: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
}
ul li span:hover{
    border-radius: 50%;
    background-color: #c2c1c1;
}
@media(max-width:440px){
    .title {
        font-size: 25px;
    }
    .input {
        padding: 10px;
        width: 80%;
        border: 1px solid #002765;
        border-radius: 4px;
        font-size: 15px;
        outline: 0;
    }
    .add {
        width: 18%;
    }
}
@media(max-width:350px){
    .input {
        padding: 10px;
        width: 100%;
        border: 1px solid #002765;
        border-radius: 4px;
        font-size: 15px;
        outline: 0;
    }
    .input-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .add{
    width: 30%;
    padding: 10px;
    margin-left: 0px;
    margin-top: 15px;
    border: 1px solid #002765;
    font-size: 15px;
    border-radius: 4px;
    background-color: #FC653B;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #002765;
    }
}